.side_list {
    margin-top: 60px;
    height: calc(100vh - 60px) !important;
    position: fixed;
}

.data-view {
    .p-dataview-header {
        span {
            font-size: 1.1rem;
        }
    }

    .save-post-container {
        i {
            cursor: pointer;
            color: #aaa;
            transition: .2s;

            &:hover {
                color: #666;
            }
        }

        span {
            position: absolute;
            bottom: 60px;
            right: 15px;
            visibility: hidden;
            transition: .6s;
            z-index: 2;
            font-size: 2px;
            color: transparent;
            font-weight: 400;
        }

        i.is-active {
            color: #e23b3b;
        }

        span.is-active {
            bottom: 60px;
            font-size: 14px;
            visibility: visible;
            animation: fade 1s;
        }
    }
}

@media screen and (max-width: 425px) {
    .data-view {
        .p-dataview-header {
            span {
                font-size: 1rem;
            }
        }

        .p-dataview-content {
            .data-view-item {
                box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
                padding: 5px !important;
                border-radius: 10px;
                margin: 10px 0 10px 0;

                .data-view-item-description {
                    align-items: flex-start !important;
                }
            }
        }
    }
}

@keyframes fade {
    0% {
        color: transparent;
    }

    50% {
        color: #e23b3b;
    }

    100% {
        color: transparent;
    }
}