@media screen and (max-width: 425px) {
    .btn-layer-picker {
        width: 50px !important;
        height: 50px !important;

        span {
            font-size: 11px !important;
        }
    }
}